/* * {
	border: rgb(55, 255, 195) 1px solid;
} */

body {
	font-family: "Roboto";
	margin: 0 240px;
	background-color: black;
}

.header {
	background-color: #1f2937;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 18px 200px;
}

.logo {
	color: #f9faf8;
	font-size: 24px;
	font-weight: bold;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	gap: 18px;
}

li {
	font-size: 18px;
}

a {
	text-decoration: none;
	color: #e5e7eb;
}

.body1 {
	background-color: #1f2937;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 100px 200px;
	gap: 30px;
	height: 265px;
}

.title1 {
	font-size: 48px;
	font-weight: bolder;
	color: #f9faf8;
}

.subtext1 {
	color: #e5e7eb;
	font-size: 18px;
	margin-bottom: 10px;
}

.button1 {
	background-color: #3882f6;
	color: #e5e7eb;
	height: 38px;
	width: 126px;
	border-radius: 8px;
	font-size: 18px;
	font-weight: bold;
}

.left1 {
	flex: 1;
}

.div-image1 {
	background-color: gray;
	flex: 1;
	height:210px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #e5e7eb;
}

.div-image1-image1 {
	height: auto;
	width: auto;
}

.body2 {
	display: flex;
	flex-direction: column;
	background-color: white;
	height: 500px;
	justify-content: center;
	align-items: center;
}

.title2 {
	font-size: 36px;
	font-weight: bolder;
	color: #1f2937;
	margin-bottom: 70px;
}

.items2 {
	display: flex;
	gap: 70px;
}

.item2 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-height: 160px;
	max-width: 160px;
}

.div-item2-image {
	min-height: 160px;
	min-width: 160px;
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	border:#3882f6 4px solid;
}

.item2-subtext {
	font-size: 18px;
	text-align: center;
}